@font-family__base: 'MontserratRegular', sans-serif;
@font-size__base: 15px;

//FONTS
//mobile
@font1-mob-karoe__font-size: 30px;
@font2-mob-karoe__font-size: 23px;
@font3-mob-karoe__font-size: 20px;

//desktop
@font1-karoe__font-size: 60px;
@font2-karoe__font-size: 50px;
@font3-karoe__font-size: 30px;
